@import "tailwindcss";

@theme {
    --color-light: #FDF8F0;
    --color-primary: #C3743A;
    --color-secondary: #B56F35;
    --color-tertiary: #F2D8BF;
    --color-dark: #6B3F2A;
    --color-content-text: #834C30;
    --color-ico: #F9EDE0;
}


.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    background: #FDF8F0;
}

.head-button {
    background: #D88A42;
    background: linear-gradient(90deg,rgba(216, 138, 66, 1) 0%, rgba(195, 116, 58, 1) 48%);
}

.head-bg {
    background: #FDF8F0;
    background: linear-gradient(180deg,rgba(253, 248, 240, 1) 0%, rgba(254, 252, 248, 1) 48%, rgba(253, 248, 240, 1) 100%);
}

.rating-box {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

.steps-box {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

.chapter-item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.child-list li {
    @apply text-sm;
}

.toggle-content[data-visible='true'] div[data-content] {
    @apply block;
}

.toggle-content[data-visible='true'] #arrow-button {
    transform: rotate(180deg);
}

.toggle-content[data-visible='false'] div[data-content] {
    @apply hidden;
}

.toggle-content[data-visible='false'] #arrow-button {
    transform: rotate(0deg);
}

.toggle-content #arrow-button {
    transition: transform 0.3s ease;
}

.toggle-content__slot {
    @apply text-sm
}

.toggle-content__slot ul {
    list-style: disc;
    margin-left: 10px;
}

.toggle-content__slot ul ul {
    list-style: square;
    margin-left: 15px;
}

.toggle-content p,
.toggle-content li,
.toggle-content strong,
.toggle-content ul>li {
    @apply text-sm ;
}

/*    ------------------------------------- */
.md-content h2 {
    @apply text-lg mt-6 mb-4 text-secondary;
}

.md-content h3 {
    @apply flex gap-2 font-semibold mb-4;
}

.md-content p:last-child {
    @apply mb-0;
}

.md-content p {
    @apply text-content-text text-left mb-4 text-sm;
}

.md-content ol p {
    @apply mb-2;
}

.md-content ol>li {
    counter-increment: li-count;
    @apply bg-white p-6 shadow-md rounded-xl border border-tertiary;
}

.md-content ol>li>h3 {
    @apply flex items-center gap-4 text-dark;
}

.md-content ol>li>h3>img {
    @apply hidden md:block;
}

.md-content ol>li>h3:before {
    content: counter(li-count);
    @apply min-w-[32px] h-[32px] bg-ico text-dark rounded-full flex justify-center items-center;
}

.md-content ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.md-content ol ul {
    list-style: disc;
    margin-left: 20px;
    @apply text-content-text text-sm;
}

.md-content blockquote {
    @apply bg-light rounded-md p-2 text-xs text-left my-2;
}

.md-content table {
    @apply text-dark text-left w-full rounded-md text-sm;
}

.md-content table th,td {
    @apply text-left bg-light py-2 px-3;
}


.md-content table th {
    @apply border-b border-b-dark/10;
}

.md-content ul {
    list-style: disc;
    margin-left: 20px;
    @apply text-content-text text-sm mb-4;
}

.md-content h1 {
    @apply text-3xl text-dark font-bold mb-8 text-center;
}

.md-content.post p,li {
    @apply text-base;
}

.md-content.post ol>li {
    @apply bg-transparent p-0 pl-2 shadow-none border-none ml-8 text-content-text relative;
}

.md-content.post ol>li:before {
    content: counter(li-count);
    @apply absolute top-[-4px] left-[-36px] w-[32px] h-[32px] bg-ico text-dark rounded-full flex justify-center items-center;
}

.md-content.post ol>li>h3:before {
    content: "";
    @apply hidden;
}

.md-content.post ol>li>h3 {
    @apply mb-1;
}

.md-content.post ol {
    list-style: none;
}


.md-content.post ol,ul {
    @apply mb-2;
}

.md-content .post h3 {
    @apply text-dark;
}


/* Mobile menu */
dialog.mobile-menu:modal {
    max-width: 100vw;
    width: 100%;
    max-height: 100dvh;
}

dialog.mobile-menu[open] {
    animation: showMenu 0.2s ease-out;
}

@keyframes showMenu{
    0%{
        max-height:80px;
    }
    100%{
        max-height: 100%;
    }
}