@import "tailwindcss";

@theme {
    --color-light: #FDF8F0;
    --color-primary: #C3743A;
    --color-secondary: #B56F35;
    --color-tertiary: #F2D8BF;
    --color-dark: #6B3F2A;
    --color-content-text: #834C30;
    --color-ico: #F9EDE0;
}


.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.head-button {
    background: #D88A42;
    background: linear-gradient(90deg,rgba(216, 138, 66, 1) 0%, rgba(195, 116, 58, 1) 48%);
}

.head-bg {
    background: #FDF8F0;
    background: linear-gradient(180deg,rgba(253, 248, 240, 1) 0%, rgba(254, 252, 248, 1) 48%, rgba(253, 248, 240, 1) 100%);
}

.rating-box {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

.steps-box {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

.chapter-item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}

/*    ------------------------------------- */
.md-content h2 {
    @apply text-lg mt-6 mb-4 text-secondary;
}

.md-content h3 {
    @apply flex gap-2 font-semibold mb-4;
}

.md-content p:last-child {
    @apply mb-0;
}

.md-content p {
    @apply text-content-text text-left mb-4 text-sm;
}

.md-content ol p {
    @apply mb-2;
}

.md-content ol>li {
    counter-increment: li-count;
    @apply bg-white p-6 shadow-md rounded-xl border border-tertiary;
}

.md-content ol>li>h3 {
    @apply flex items-center gap-4 text-dark;
}

.md-content ol>li>h3>img {
    @apply hidden md:block;
}

.md-content ol>li>h3:before {
    content: counter(li-count);
    @apply min-w-[32px] h-[32px] bg-ico text-dark rounded-full flex justify-center items-center;
}

.md-content ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.md-content ol ul {
    list-style: disc;
    margin-left: 20px;
    @apply text-content-text text-sm;
}