@import "tailwindcss";

@theme {
    --color-light: #FDF8F0;
    --color-primary: #C3743A;
    --color-secondary: #B56F35;
    --color-tertiary: #F2D8BF;
    --color-dark: #6B3F2A;
    --color-content-text: #834C30;
    --color-ico: #F9EDE0;
}


.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.head-bg {
    background: #FDF8F0;
    background: linear-gradient(180deg,rgba(253, 248, 240, 1) 0%, rgba(254, 252, 248, 1) 48%, rgba(253, 248, 240, 1) 100%);
}

.chapter-item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}