---
import Layout from '../layouts/Layout.astro'
import Content from '../components/ui/Content.astro'
import H1 from '../components/ui/H1.astro'
import H2 from '../components/ui/H2.astro'
import H3 from '../components/ui/H3.astro'
import Text from '../components/ui/Text.astro'
import Box from '../components/ui/Box.astro'
import Li from '../components/ui/Li.astro'
import Chapter from '../components/Chapter.astro'
import TextLink from '../components/ui/TextLink.astro'
import LinkButton from '../components/ui/LinkButton.astro'
import RatingBox from '../components/RatingBox.astro'
import PrintBox from '../components/PrintBox.astro'
import List from '../components/ui/List.astro'
---

<Layout>
  <header class='head-bg'>
    <Content bg='transparent'>
      <div class='grid grid-cols-1 md:grid-cols-2 items-center gap-8'>
        <div>
          <H1>Úsměv pro Adama</H1>
          <H2 class='text-secondary text-left'>Příběh naděje, síly a pomoci</H2>
          <Text class='text-left mb-4'>
            Vítejte na stránkách knihy, která přináší příběh odhodlání, lásky a síly, kterou si člověk neuvědomuje,
            dokud nečelí nejtěžším životním výzvám.
          </Text>
          <div class='flex gap-4 flex-col md:flex-row my-6'>
            <LinkButton href='#kniha' theme='primary' class='head-button'>Získat PDF knihu zdarma</LinkButton>
            <LinkButton href='/ukazka-knihy' theme='outline'>Ukázka knihy</LinkButton>
          </div>
        </div>
        <div class='bg-[#F9EDE0] p-2 rounded-md w-full md:w-max m-auto'>
          <Box class='inline-block p-3'>
            <img src='/img/header.webp' alt='' class='w-full md:w-[280px] rounded-md' fetchpriority='high' />
          </Box>
        </div>
      </div>
    </Content>
  </header>
  <main>
    <Content bg='light' class="pt-0">
      <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
        <Box>
          <div class='grid grid-rows-[auto_1fr_auto] h-full'>
            <H3 class='text-dark text-left text-lg font-semibold'> Pro podporovatele </H3>
            <Text class='text-left'>
              Přišel vám od nás výtisk do rukou? Budeme rádi, když nám pomůžete dostat téma k
              dalším lidem.
            </Text>
            <LinkButton href='/podporovatele' theme='outline' class='mx-auto md:max-w-[200px]'>Více informací</LinkButton>
          </div>
        </Box>
        <Box>
          <div class='grid grid-rows-[auto_1fr_auto] h-full'>
            <H3 class='text-dark text-left text-lg font-semibold'> Projekt Průvodce pozůstalým </H3>
            <Text class='text-left'>
              Praktické rady a tipy pro lidi v těžkých životních situacích spojených se ztrátou blízké osoby.
            </Text>
            <LinkButton href='/pruvodce-pozustalym' theme='outline' class='mx-auto md:max-w-[200px]'>Více informací</LinkButton>
          </div>
        </Box>
        <Box>
          <div class='grid grid-rows-[auto_1fr_auto] h-full'>
            <H3 class='text-dark text-left text-lg font-semibold'> Projekt Jsem taky dítě </H3>
            <Text class='text-left'>
              Jako máma dítěte s autismem bojuji za nové pojetí inkluze, která není o tom, aby se dítě přizpůsobilo
              světu, ale naopak aby se svět naučil přijímat všechny děti.
            </Text>
            <LinkButton href='/jsem-taky-dite' theme='outline' class='mx-auto md:max-w-[200px]'>Více informací</LinkButton>
          </div>
        </Box>
      </div>
    </Content>
    <Content bg='white'>
      <H2 class='text-left'>O mně</H2>
      <div class='grid grid-cols-1 md:grid-cols-2 items-center gap-8'>
        <div>
          <Text class='text-left'>
            Jsem matka, která po ztrátě partnera a těžké nemoci svého syna Adama prochází cestou, která mi ukázala sílu
            v sobě i v lidech kolem mě. Tato kniha není jen příběhem, ale i nástrojem, jak se vyrovnat s tragédiemi a
            najít nové smysly života. Příběh Adama je příběhem nejen jeho, ale i všech dětí a rodičů, kteří se
            nevzdávají a i přes životní tragédie dělají své maximum.
          </Text>
          <div class='flex justify-star mb-8'>
            <LinkButton href='/kdo-nam-pomohl' theme='outline'>Kdo nám pomohl?</LinkButton>
          </div>
          <H3 class='text-left'>Proč tato kniha vznikla?</H3>
          <Text class='text-left'>
            Chceme, aby nikdo nemusel procházet těžkým obdobím po ztrátě blízkého s pocitem, že je v tom sám. Sdílením
            našeho příběhu nabízíme oporu, naději a praktické rady všem, kdo čelí ztrátě, nemoci či životní změně.
          </Text>
        </div>
        <img src='/img/autorka.webp' class='m-auto rounded-full w-full h-full md:w-[280px] md:h-[280px]' alt='' />
      </div>
    </Content>
    <Content bg='light'>
      <H2>Co vás v knize čeká</H2>
      <div class='grid grid-cols-1 md:grid-cols-2 items-center gap-8'>
        <div>
          <Text class='text-left'>
            Tato kniha nabízí nejen příběh, ale také konkrétní rady  a praktické tipy pro lidi, kteří čelí ztrátě
            blízkého včetně přehledného harmonogramu kroků k vyřízení formou letáku ke stažení.
          </Text>
          <div class='mt-4 mb-8'>
            <LinkButton href='/docs/letak.pdf' target='_blank' theme='outline'>Leták ke stažení</LinkButton>
          </div>
          <Text class='text-left'>
            Prošli jsme poslední 4 roky z fáze „Neboj, bude lépe" přes fázi „Nikdy není tak zle, aby nemohlo být ještě
            hůře" do fáze „Co tě nezabije, to tě posílí" s vedlejšími účinky, jako je nežádoucí černý humor a „lehce"
            ironický nadhled.
          </Text>
        </div>
        <img src='/img/book.webp' class='m-auto rounded-full w-full h-full md:w-[280px] md:h-[280px]' alt='' />
      </div>
      <Box class='mt-8'>
        <H3>Kapitoly</H3>
        <ol>
          <Li>
            <Chapter
              index={1}
              title='Tady a teď'
              description='„Život s Adamem má spoustu omezení, ale ráda Vám vysvětlím, jak jsme se k handicapu dostali a proč jsem ochotná mu dát vše i za cenu vlastního štěstí a životní síly. Pro mě je Adam chodící zázrak, můj zdroj, moje naděje a můj život."'
            />
          </Li>
          <Li>
            <Chapter
              index={2}
              title='Adam byl zdravý'
              description='„Adam se rád smál, když zrovna nepřemýšlel a nezkoumal, tak se prostě smál. Nezažila jsem u něj smutky, málokdy se i rozčiloval, prostě byl takový kliďas. A zbožňoval tátu, ti dva byli nerozlučná dvojka, mazlili se, hráli si, zkoušeli spolu všechny blbosti a hlavně koupání, to byla jejich každovečerní aktivita."'
            />
          </Li>
          <Li>
            <Chapter
              index={3}
              title='Adam měl tátu'
              description='„Co kdyby ten den nejel/a autem? Co kdybych do obchodu dojel/a místo něj/ní já? Co kdybychom do nemocnice jeli dříve? Co kdybych zavolal/a sanitku dříve? Co kdyby, co kdyby… Tyto úvahy jsem slyšela snad od každého ovdovělého rodiče, kterého jsem měla možnost poznat."'
            />
          </Li>
          <Li>
            <Chapter
              index={4}
              title='Adam a strážní andělé'
              description='„Když jsem si myslela, že už to dlouho zvládat nebudu, tak přišla pomoc, a to v podobě rány do předního nárazníku."'
            />
          </Li>
          <Li>
            <Chapter
              index={5}
              title='Adam byl nemocný'
              description='„Přijeli jsme v noci, Adam byl bledý, přestával reagovat, měl horečku a pozvracel mě, což u něj bylo extrémně vzácné. Od tragédie nás dělilo pár hodin, ale to jsem v tu chvíli nevěděla."'
            />
          </Li>
          <Li>
            <Chapter
              index={6}
              title='Adam je doma'
              description='„Bojovali jsme. Vyhráli jsme. Nevím, zda to bylo štěstí, osud nebo něco vyslyšelo naše přání, ale vím, že do konce života si ten zázrak ponesu v sobě. S pokorou, s vděkem a s úplně jiným pohledem na svět."'
            />
          </Li>
          <Li>
            <Chapter
              index={7}
              title='Adam dnes'
              description='„Tak často se setkáváme se šikanou, ať už Adam nebo já jako rodič, až mě i párkrát napadlo, jestli by vlastně pro nás nebylo lepší, kdybychom to tehdy oba nepřežili. Až do takových stavů mě společnost a absolutně nezvládnutá inkluze v ČR dostávají. Místo toho, aby lidé vnímali ten zázrak, kterým Adam je a ten smutný příběh, kterým jsme oba prošli, tak nám naši cestu neustále ztěžují sobeckostí, závistí (ano, opravdu!) a pokrytectvím."'
            />
          </Li>
          <Li>
            <Chapter
              index={8}
              title='Změna není konec'
              description='„Bolest má své kouzlo – spojuje lidi. Spojila například tisíce lidí během medializace našeho příběhu, vzbudila empatii ve stovkách lidí, kteří se podíleli na sbírce pro Adama. Bolest mi našla nejlepší kamarádku s podobným osudem. Bolest nám do života přivedla náhradní babičku a další výjimečné lidi. Sdílení bolesti pomáhá, ulevuje a propojuje lidi, kteří se jinak nemohou propojit se svým okolím. Jakmile potkáte někoho s podobným příběhem, v hlavě to udělá „klik" a chováte se k tomu člověku, jako byste se znali roky, a to jen díky tomu, že sdílíte bolest."'
            />
          </Li>
          <Li>
            <Chapter
              index={9}
              title='Duben 2025'
              description='„Téměř čtyři roky se snažím nalézt novou cestu, nový směr a téměř čtyři roky jsem nebyla objektivně schopná přijít na to, proč ostatním v mé situaci to jde a mě ne. A problémem jsem celou dobu byla já. Já a má vina sama k sobě."'
            />
          </Li>
        </ol>
        <div class='flex justify-center mt-4'>
          <LinkButton href='/ukazka-knihy' theme='outline'>Ukázka knihy</LinkButton>
        </div>
      </Box>
      <Box class='mt-8'>
        <div class='grid grid-cols-1 md:grid-cols-[1fr_auto] gap-0 md:gap-8'>
          <div>
            <Text class='text-left'><strong>Kniha zdarma</strong> díky podpoře partnerů</Text>
            <Text class='text-sm text-left text-secondary'>
              Kniha byla vytvořena s podporou <a href='https://www.nadaceepg.cz/s/' class='underline' target='_blank'
                >Nadace EP Corporate Group</a
              >, která se zabývá pomocí pozůstalým rodinám a seniorům v nouzi, a <a
                class='underline'
                href='https://www.hlavacek-krampera.cz/'>Advokátní Kanceláře Hlaváček&Krampera</a
              >, renomovanou společností, která Adama zastupovala při pozůstalostním řízení.
            </Text>
          </div>
          <div class='self-center grid grid-cols-2 w-full px-4 gap-4 items-center mb-4 mb:mb-0'>
            <img src='/img/nadace.png' alt='Nadace EP Group' class='max-w-[100px]' />
            <img src='/img/advokatni-kancelar.png' alt='Advokátní kancelář Hlaváček&Krampera' class='max-w-[100px]' />
          </div>
        </div>
        <div class='flex justify-center'>
          <LinkButton href='#kniha' theme='primary' class='head-button'>Získat PDF knihu zdarma</LinkButton>
        </div>
      </Box>
    </Content>
    <Content bg='white'>
      <H2>Co čtenáři říkají o knize</H2>
      <Text class='pb-4'>
        Názory čtenářů jsou pro nás velmi cenné. Zde si můžete přečíst, jak kniha pomohla ostatním a jaký dopad měla na
        jejich životy.
      </Text>
      <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
        <RatingBox
          rating='"Tato kniha se mě hluboce dotkla. Není to jen příběh, ale průvodce pro každého, kdo čelí nejtěžším životním chvílím."'
          author='Anna K.'
        />
        <RatingBox
          rating='"Praktické nástroje v této knize mi pomohly navigovat vlastním obtížným obdobím. Vřele doporučím."'
          author='Petr M.'
        />
        <RatingBox
          rating='"Krásné svědectví o síle lásky a odolnosti. Tato kniha ve mně zůstane navždy."'
          author='Lucie S.'
        />
      </div>
    </Content>¨
    <Content bg='light'>
      <H2>Získejte PDF knihu zdarma </H2>
      <Text class='pb-4'>
        Tato kniha je dostupná zdarma díky podpoře nadace EPCG. Pro získání bezplatného výtisku nám jednoduše napište na
        Instagram nebo na <TextLink href='mailto:autor@usmevproadama.cz'>autor@usmevproadama.cz</TextLink>
      </Text>
      <div id='kniha' class='grid grid-cols-1 md:grid-cols-2 gap-4'>
        <PrintBox
          headline='@usmevproadama'
          note='Sledujte náš příběh'
          alt='Instagram'
          icon='/icons/instagram.svg'
          link='http://instagram.com/usmevproadama'
          linkLabel='Napsat na Instagram'
          target='_blank'
        >
          <List class='list-disc'>
            <li>Pošlete nám zprávu a získejte knihu zdarma.</li>
            <li>Zaujal vás náš příběh a chcete se podělit o ten svůj?</li>
            <li>Jsme tu pro vás. Pojďme se vzájemně podpořit.</li>
          </List>
        </PrintBox>
        <PrintBox
          headline='autor@usmevproadama.cz'
          note='Spojte se s námi'
          alt='E-mail'
          icon='/icons/mail.svg'
          link='mailto:autor@usmevproadama.cz'
          linkLabel='Napište nám'
        >
          <List class='list-disc'>
            <li>Máte dotaz nebo chcete sdílet svůj příběh?</li>
          </List>
        </PrintBox>
      </div>
    </Content>
  </main>
</Layout>
