---

import Layout from '../layouts/Layout.astro'
import Content from '../components/ui/Content.astro'
import H1 from '../components/ui/H1.astro'
import Text from '../components/ui/Text.astro'
import LinkButton from '../components/ui/LinkButton.astro'
---
<Layout>
  <main>
    <Content bg='white'>
      <H1>Ukázka knihy</H1>
      <Text class="text-left">
        <i>Je tolik věcí, které bych nikdy ani nezkusila, kdyby mě život nepostavil do téhle situace. Čím déle jsme sami, tím více se oba přizpůsobujeme. Mým životním cílem se stalo překonávání strachu a sebe sama. Každý den se učím být spontánní, přijímat výzvy, neustále nám s Adamem zlepšovat každodenní realitu. Žijeme z maličkostí. Z barevné soli do koupele, z bublifuku, z nových mašinek, z nových dekorací (hlavně z andělů), z různých příchutí Oreo sušenek, z východu slunce v okně obýváku, ze sněhu, z kaluží, ze skluzavek v herně… Mohla bych pokračovat, ale asi by to zabralo pár dalších stran.</i>
      </Text>
      <Text class="text-left">
        <i>Jednu specificky krásnou vzpomínku mám na leden 2024. Čerstvý sníh, neděle 8:00, brzké ranní slunce. Za barákem máme pole, bylo čerstvě zasněžené, cca 30 cm sněhu. Nabalila jsem sebe i Adama, vzali jsme Harryho a šli jsme na pole. Pes začal dělat bláznivá kolečka, Adam sebou plácl uprostřed pole do sněhu a jen ležel a koukal na východ slunce. Všechen ten sníh kolem se třpytil, jak ho postupně nasvěcovalo slunce. Adam vleže zasněně koukal nahoru, všude ticho a v tu chvíli mi došlo, že máme všechno, co potřebujeme. Jeden druhého, život a pouto, které nám nikdo nepřetrhne. Harmonii toho rána cítím dodnes. Vzpomněla jsem si na to, jak jsem jako malá přesně takový sníh milovala, běhala jsem v něm, zpívala Ivetu Bartošovou a představovala jsem si, že jsem v pohádce (no jo, miluju třpytky).</i>
      </Text>
      <Text class="text-left">
        <i>Samozřejmě vím, jak by mi pomohlo nebýt na vše sama, a že pro Adama by to znamenalo víc času, který bych mu mohla věnovat. Ale já cítím, že teď potřebuji růst, potřebuji být nejlepší a nejsilnější verzí sebe sama, a to hlavně pro Adama, aby měl v životě vždy někoho, o koho se bude moct opřít, a nebude muset být na vše sám jako já. Jsem tu pro něj, jsem jeho průvodkyně a mým úkolem je chránit ho, dokud to bude on sám potřebovat. Jsem tu pro něj i za jeho tátu. Tátu měl, miloval ho a nikdo mu ho nenahradí. Myslím, že je lepší mu připomínat, že měl milujícího tátu, který zemřel, než aby žil v situaci, že táta žije, ale nezajímá se. Vzpomínku na milujícího tátu mu budu vždy vštěpovat, je součástí našeho života a pro Adama bude ještě spoustu let důležitým člověkem.</i>
      </Text>
      <Text class="text-left">
        <i>Co se mě týče, poslední čtyři roky neřeším, co si o mně kdo myslí, k životu přistupuji s pokorou, na každého člověka se dívám individuálně, nesoudím, přijímám s chybami i bez nich. Nejsem povrchní, používám intuici a věřím si, věřím svému vnitřnímu hlasu a snažím se dělat správné věci, nebo lépe – snažím se dělat věci pro ochranu jiných lidí, kteří jsou nebo budou v mé situaci. Na domněnky, předsudky a srovnávání se s ostatními nemám čas. Přijala jsem svého vnitřního introverta s autistickými rysy a jsem sama sebou. Doma, venku, v práci. Své trauma nosím hrdě, protože mi pomohlo růst, pro sebe, pro Adama, pro všechny, kdo to potřebují.</i>
      </Text>
      <Text class="text-left">
        <i>Změna je život, a ne vždy máme na výběr, kdy a jaká změna přijde. Změna nás nutí růst, ale je to špatně nebo dobře?</i>
      </Text>
      <div class="flex justify-center mt-8">
        <LinkButton theme="primary" href="/#kniha"> Získat PDF knihu zdarma</LinkButton>
      </div>
    </Content>
  </main>
</Layout>