---
import { cn } from '../utils/cn'
interface Props {
  class?: string;
}

const { class: customClass } = Astro.props;
---

<div class={cn("bg-white p-6 shadow-md rounded-xl border border-tertiary text-content-text", customClass)}><slot /></div>
