---

import Ico from './Ico.astro'
import Text from './Text.astro'

interface Props {
  index: number
  title: string
  description: string
}

const { index, title, description } = Astro.props
---


<div class="chapter-item">
  <Ico>{index}</Ico>
  <div>
    <strong class="font-medium self-center">{title}</strong>
    <Text class="text-left">{description}</Text>
  </div>
</div>