---
import H1 from './H1.astro'
import Layout from '../../layouts/Layout.astro'
import Content from './Content.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<Layout>
  <main>
    <Content bg='light'>
      <H1 class='text-3xl'>{title}</H1>
      <div class='md-content pb-16 md-content post'>
        <slot />
      </div>
    </Content>
  </main>
</Layout>
